/*RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #fffdf8;
    color: #111;
}
/*  NAVBAR */

.navbar {
    width: 100%;
    background: #fffdf8;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}
/* Main container */
.nav-container {
    width: 100%;
    max-width: 1400px;
    min-height: 95px;
    margin: auto;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* BRAND*/
.brand {
    display: flex;
    align-items: center;
    gap: 18px;
    text-decoration: none;
    color: #534eb4;
}
/* Logo */
.brand img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

/* Project name */
.brand span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
}
/* DESKTOP MENU */
.desktop-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}
.desktop-menu a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}
.desktop-menu a:hover {
    color: #534eb4; 
}
/* HAMBURGER*/
.menu-btn {
    width: 55px;
    height: 55px;
    border: 3px solid #555;
    border-radius: 14px;
    background: transparent;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}
/* Hamburger lines */
.menu-btn span {
    width: 27px;
    height: 3px;
    background: #534eb4;
    border-radius: 10px;
    transition: 0.3s;
}
/* MOBILE MENU*/
.mobile-menu {
    display: none;
    width: 100%;
    padding: 15px 30px 30px;
    background: #fffdf8;
}
.mobile-menu a {
    display: block;
    padding: 18px 0;
    text-decoration: none;
    color: #111;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
}
/*TABLET */
@media (max-width: 900px) {
    .nav-container {
        min-height: 90px;
        padding: 10px 25px;
    }
    .brand span {
        font-size: 34px;
    }
    .brand img {
        width: 65px;
        height: 65px;
    }
    .desktop-menu {
        display: none;
    }
    .menu-btn {
        display: flex;
    }
}
/* MOBILE*/
@media (max-width: 600px) {
    .nav-container {
        min-height: 82px;
        padding: 8px 18px;
    }
    /* Logo */
    .brand {
        gap: 10px;
    }
    .brand img {
        width: 58px;
        height: 58px;
    }
    /* Mumbai Essence */
    .brand span {
        font-size: 25px;
        letter-spacing: -0.5px;
    }
    /* Hamburger */
    .menu-btn {
        width: 50px;
        height: 50px;
        border-radius: 12px;
        gap: 6px;
    }
    .menu-btn span {
        width: 25px;
        height: 3px;
    }
    /* Mobile menu */
    .mobile-menu {
        padding: 10px 25px 25px;
    }
    .mobile-menu a {
        font-size: 23px;
        padding: 17px 5px;
    }
    /* Hero */
    .hero {
        min-height: 450px;
        padding: 60px 20px;
    }
    .hero h1 {
        font-size: 34px;
    }
    .hero p {
        font-size: 18px;
        line-height: 1.6;
    }
    /* Sections */
    .section {
        padding: 60px 20px;
    }
    .section h2 {
        font-size: 30px;
    }
}
/* SMALL MOBILE*/
@media (max-width: 380px) {
    .brand span {
        font-size: 21px;
    }
    .brand img {
        width: 52px;
        height: 52px;
    }
    .menu-btn {
        width: 46px;
        height: 46px;
    }
}
/*   RESTAURANT SECTION*/
.restaurants-section {
    padding: 90px 6%;
    background: #fffdf8;
}
/* Heading */
.section-heading {
    text-align: center;
    margin-bottom: 45px;
}
.section-heading span {
    color: #d39b35;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
}
.section-heading h2 {
    margin: 10px 0;
    font-size: 42px;
    color: #172c55;
}
.section-heading p {
    color: #777;
    font-size: 17px;
}
/* SLIDER */
.restaurant-slider {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}
/* Slide */
.restaurant-slide {
    display: none;
    grid-template-columns: 1.15fr 0.85fr;
    background: white;
    border-radius: 28px;
    overflow: hidden;
    box-shadow:0 15px 45px rgba(0, 0, 0, 0.12);
    min-height: 480px;
    animation: slideIn 0.7s ease;
}
/* Active slide */
.restaurant-slide.active {
    display: grid;
}
/* Animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(35px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/*  IMAGE*/
.restaurant-image {
    position: relative;
    min-height: 480px;
    overflow: hidden;
}
.restaurant-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.8s ease;
}
.restaurant-slide:hover .restaurant-image img {
    transform: scale(1.05);
}
/* Image overlay */
.image-overlay {
    position: absolute;
    inset: 0;
    background:
     linear-gradient( to top, rgba(0,0,0,0.55), transparent 55%);
}
/* Number */
.restaurant-number {
    position: absolute;
    bottom: 25px;
    left: 30px;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}

/* INFORMATION */
.restaurant-info {
    padding: 55px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.restaurant-tag {
    color: #c4912e;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 12px;
}
.restaurant-info h3 {
    color: #172c55;
    font-size: 42px;
    margin-bottom: 10px;
}
.location {
    color: #555;
    font-size: 16px;
    margin-bottom: 22px;
}
.description {
    color: #666;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 25px;
}
/* Details */
.restaurant-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #333;
    font-size: 15px;
    margin-bottom: 30px;
}
/* VIEW BUTTON*/
.view-btn {
    width: fit-content;
    padding: 13px 28px;
    border: none;
    border-radius: 30px;
    background: #172c55;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.view-btn:hover {
    background: #d39b35;
    transform: translateY(-2px);
}
/*DOTS*/
.slider-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.dot {
    width: 9px;
    height: 9px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    transition: 0.3s;
}
.dot.active {
    width: 28px;
    border-radius: 20px;
    background: #172c55;
}
/*TABLET */
@media (max-width: 900px) {
    .restaurants-section {
        padding: 70px 25px;
    }
    .restaurant-slide {
        grid-template-columns: 1fr;
        min-height: auto;
    }
    .restaurant-image {
        height: 400px;
        min-height: 400px;
    }
    .restaurant-info {
        padding: 40px;
    }
}
/* MOBILE */
@media (max-width: 600px) {
  .restaurants-section {
        padding: 55px 18px;
    }
  .section-heading {
        margin-bottom: 30px;
    }
  .section-heading span {
        font-size: 11px;
        letter-spacing: 2px;
    }
  .section-heading h2 {
        font-size: 30px;
    }
   .section-heading p {
        font-size: 14px;
        line-height: 1.5;
    }
  .restaurant-slide {
        border-radius: 20px;
    }
   .restaurant-image {
        height: 280px;
        min-height: 280px;
    }
  .restaurant-number {
        bottom: 18px;
        left: 20px;
        font-size: 12px;
    }
  .restaurant-info {
        padding: 30px 24px;
    }
  .restaurant-tag {
        font-size: 11px;
        letter-spacing: 1.5px;
    }
   .restaurant-info h3 {
        font-size: 31px;
    }
  .location {
        font-size: 14px;
    }
  .description {
        font-size: 14px;
        line-height: 1.6;
    }
  .restaurant-details {
        font-size: 14px;
    }
   .view-btn {
        width: 100%;
        padding: 13px;
    }
}
/*  SPECIAL OFFERS */
.offers-section {
    padding: 75px 6%;
    background: #faf9f6;
}
/*  HEADING*/
.offers-heading {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 45px;
}
.offers-heading span {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #315fc9;
    margin-bottom: 12px;
}
.offers-heading h2 {
    margin: 0 0 12px;
    font-size: 42px;
    font-weight: 700;
    color: #171717;
}
.offers-heading p {
    margin: 0;
    font-size: 16px;
    color: #777;
    line-height: 1.6;
}

/* grid*/
.offers-grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
/*CARD*/
.offer-card {
    position: relative;
    min-height: 310px;
    padding: 30px 30px;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    transition:
        transform 0.35s ease,
        box-shadow 0.35s ease,
        background 0.35s ease;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.07);
}
/*  NORMAL CARD COLO */
.blue-card {
    background:
        linear-gradient(
            135deg,
            #ffffff 20%,
            #edf5ff 65%,
            #d8eaff
        );
}
.gold-card {
    background:
        linear-gradient(
            135deg,
            #ffffff 20%,
            #fff9e8 65%,
            #f5e1aa
        );
}
.orange-card {
    background:
        linear-gradient(
            135deg,
            #ffffff 20%,
            #fff4e8 65%,
            #ffd4a9
        );
}

.pink-card {
    background:
        linear-gradient(
            135deg,
            #ffffff 20%,
            #fff1f6 65%,
            #ffd0df
        );
}
/*HOVER */
.offer-card:hover {
    transform: translateY(-5px);
    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.12);
}
/*  SELECTED CARD */
.blue-card.selected {
    background:
        linear-gradient(
            135deg,
            #153b78,
            #1e579d
        );
    box-shadow:
        0 18px 45px rgba(21, 59, 120, 0.35);
}
.gold-card.selected {
    background:
        linear-gradient(
            135deg,
            #62a11a,
            #67a71e
        );

    box-shadow:
        0 18px 45px rgba(112, 165, 27, 0.3);
}

.orange-card.selected {
    background:
        linear-gradient(
            135deg,
            #93470f,
            #c66c20
        );
    box-shadow: 0 18px 45px rgba(185, 63, 59, 0.3);
}
.pink-card.selected {
    background:
        linear-gradient(
            135deg,
            #8d3153,
            #b84d70
        );
    box-shadow:0 18px 45px rgba(141, 49, 83, 0.30);
}
/*TOP */
.offer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
/* ICON*/

.offer-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background: rgba(255,255,255,0.85);
    box-shadow: 0 7px 20px rgba(0,0,0,0.08);
}
/*TAG */
.offer-tag {
    padding: 7px 14px;
    border-radius: 30px;
    background: white;
    color: #315fc9;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

/*  TITLE*/
.offer-card h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #171717;
}
/* DESCRIPTION */

.offer-card p {
    margin: 0 0 18px;

    max-width: 450px;

    color: #555;

    font-size: 14px;

    line-height: 1.6;
}
/*SELECTED TEXT*/

.offer-card.selected h3,
.offer-card.selected p {
    color: white;
}
/*   LEARN MORE*/

.offer-card button {
    border: none;
    background: transparent;
    padding: 7px 0;
    color: #315fc9;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.offer-card button b {
    display: inline-block;
    margin-left: 5px;
    transition: 0.3s;
}

.offer-card button:hover b {
    transform: translateX(6px);
}
.offer-card.selected button {
    color: white;
}
/* PHONE */
.phone-box {
    margin-top: 10px;
}
.phone-box a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 25px;
    background: white;
    color: #174b91;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0 5px 15px rgba(0,0,0,0.10);
}
/* TABLET */

@media (max-width: 850px) {
    .offers-section {
        padding: 60px 5%;
    }

    .offers-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 18px;
    }
    .offer-card {
        min-height: 300px;
        padding: 25px 22px;
    }
    .offer-card h3 {
        font-size: 21px;
    }
}

/* ==========================================
   MOBILE
========================================== */
@media (max-width: 600px) {
    .offers-section {
        padding: 50px 16px;
    }
    .offers-heading {
        margin-bottom: 30px;
    }
    .offers-heading span {
        font-size: 10px;
        letter-spacing: 2px;
    }
    .offers-heading h2 {
        font-size: 30px;
        line-height: 1.2;
    }
    .offers-heading p {
        font-size: 14px;
    }
    .offers-grid {
        grid-template-columns: 1fr;
        gap: 18px;
    }
    .offer-card {
        min-height: 270px;
        padding: 25px 20px;
        border-radius: 22px;
    }
    .offer-top {
        margin-bottom: 17px;
    }
    .offer-icon {
        width: 62px;
        height: 62px;
        font-size: 27px;
    }
    .offer-tag {
        padding: 6px 11px;
        font-size: 9px;
    }
    .offer-card h3 {
        font-size: 21px;
    }
    .offer-card p {
        font-size: 13.5px;
        line-height: 1.5;
    }
    .offer-card button {
        font-size: 15px;
    }
    .phone-box a {
        font-size: 13px;
        padding: 7px 13px;
    }

}